body {
  padding-top: 20px;
  font-family: Roboto, sans-serif;
  padding-bottom: 40px;
}

:root, html{
  --bg-color: #383e56 !important;
	--font-color: #eedad1 !important;
	--hl-color: #f69e7b !important;
	--fg-color: #d4b5b0 !important;
}